openapi: 3.0.1
info:
  title: Judge.me Products API
  description: REST API for the Judge.me product reviews platform for Shopify and other e-commerce storefronts. Endpoints let you list and create reviews, resolve products, send review request emails, and fetch ready-to-render review widget HTML. Requests are authenticated with a shop_domain and an api_token query parameter. A public api_token may be used for GET widget calls in public JavaScript environments; a private api_token grants read/write access and must be used server-side only.
  termsOfService: https://judge.me/terms
  contact:
    name: Judge.me Support
    url: https://judge.me/api/docs
    email: support@judge.me
  version: '1.0'
servers:
- url: https://judge.me/api/v1
  description: Judge.me API v1
security:
- shopDomain: []
  apiToken: []
tags:
- name: Products
  description: Resolve external product handles or ids to internal Judge.me product ids.
paths:
  /products/-1:
    get:
      operationId: lookupProduct
      tags:
      - Products
      summary: Look up internal product id
      description: Resolve an external (platform) product id or product handle into the internal Judge.me product id used by the reviews endpoints.
      parameters:
      - name: shop_domain
        in: query
        required: true
        description: The store's myshopify.com domain.
        schema:
          type: string
      - name: api_token
        in: query
        required: true
        description: Public or private Judge.me API token.
        schema:
          type: string
      - name: external_id
        in: query
        required: false
        description: External (platform) product id to resolve.
        schema:
          type: string
      - name: handle
        in: query
        required: false
        description: Product handle to resolve.
        schema:
          type: string
      responses:
        '200':
          description: The resolved product with its internal Judge.me id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLookup'
        '404':
          description: No matching product found.
components:
  schemas:
    ProductLookup:
      type: object
      properties:
        product:
          type: object
          properties:
            id:
              type: integer
              description: Internal Judge.me product id.
            handle:
              type: string
            external_id:
              type: string
            title:
              type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: query
      name: api_token
      description: Public or private Judge.me API token passed as a query parameter.
    shopDomain:
      type: apiKey
      in: query
      name: shop_domain
      description: The store's myshopify.com domain passed as a query parameter.
